<!-- css and javascript -->




<!-- font-awesome -->
<link
  rel="stylesheet"
  href="http://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
<link
  rel="stylesheet"
  href="https://use.fontawesome.com/releases/v5.0.10/css/all.css"
  integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg"
  crossorigin="anonymous">















<!-- jquery -->
<script src="{{ 'assets/js/jquery.min.js' | relative_url }}"></script>





<!-- semantic-ui -->
<link rel="stylesheet" href="{{ 'assets/semantic-ui/semantic.min.css' | relative_url }}">
<script src="{{ 'assets/semantic-ui/semantic.min.js' | relative_url }}"></script>




<!-- custom -->
<link rel="stylesheet" href="{{ 'assets/css/index.css' | relative_url }}">
<link rel="stylesheet" href="{{ 'assets/css/code_block_custom.css' | relative_url }}">
<link rel="stylesheet" href="{{ 'assets/css/solarized-dark.css' | relative_url }}">
<link rel="stylesheet" href="{{ 'assets/css/semantic-ui_custom.css' | relative_url }}">
<script src="{{ 'assets/js/index.js' | relative_url }}"></script>
<script src="{{ 'assets/js/lunr/lunr.js' | relative_url }}"></script>
<script src="{{ 'assets/js/lunr/lunr.stemmer.support.js' | relative_url }}"></script>
<script src="{{ 'assets/js/lunr/tinyseg.js' | relative_url }}"></script>
<script src="{{ 'assets/js/lunr/lunr.ja.js' | relative_url }}"></script>
<script src="{{ 'assets/js/lunr/lunr.multi.js' | relative_url }}"></script>
